<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
      <section name="Cwseo.NINA.LiveFocus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Cwseo.NINA.LiveFocus.Properties.Settings>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseFocusStreaming" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableFocusDiagnostics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetPosition" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="UserStep" serializeAs="String">
        <value>600</value>
      </setting>
    </Cwseo.NINA.LiveFocus.Properties.Settings>
  </userSettings>
</configuration>